<div class="container">

  <%# TODO:
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>

  <!-- Pop Up Window -->
  <% if current_user %>
  <div class = "create">
    <a href="#post">Create new greater brighter news!</a>
  </div>

  <div id="post" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <h2>Create Post</h2>
      <form method="POST" action="/post">
        <input type = "text" name = "post[title]" placeholder = "title">
        <textarea rows="20" cols="50"type="text" name = "post[body]" placeholder="Your post here!" ></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <% end %>

  <% @post.each do |post| %>

  <div id ="tweet">

    <div class = "body">
    <a href="/show_post/<%=post.id%>">
      <%= post.user.name %> : <%= post.title %> -  <%= post.body %>
    </a>
    <br>
    <%=post.postrating.rating%>

    </div>

    <div class = "voting">

      <form action="/upvote/<%= post.id %>" method="post">
        <input type="submit" value="upvote">
      </form>

      <form action = "/downvote/<%= post.id %>" method="post">
        <input type="submit" value="downvote">
      </form>

      <div id = "post/rate/<%= post.id%>"></div>
      <div id = "comments"></div>
    </div>

  </div>

  <% end %>

</div>
